{{> navBar}}

<h1>Welcome to RX Store</h1>
<img src="https://acdn.mitiendanube.com/stores/002/032/995/themes/new_linkedman/2-slide-1715370209109-2052858619-aad1587140537e5d621cb5bc51e904f01715370217-1920-1920.webp?1788590279" alt="imagen ilustrativa" class="img-home">